body {
    font-family: sans-serif;
    background-color: #FFEBCD;
  }
  
.title {
  font-family: cursive;
  line-height: 1.67;
  text-align: center;
  color: #000000;
  margin: 2.5rem 0;
}

.subtitle {
  font-family: cursive;
  line-height: 1.53;
  text-align: center;
  color: #000000;
  margin: 2rem 0;
}

  .file-upload {
    background-color: #ffffff;
    border-radius: 15px;
    width: 50%;
    margin: 0 auto;
    padding: 10%;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    border: 4px solid #1FB264;
    position: relative;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #35465d82;
    border: 4px solid #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    text-transform: uppercase;
    color: #15824B;
    padding: 16px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 1vw;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
